:root {
    --main-color: #2B7FFF;
    --primary-color-light: #FFFFFF;
    --primary-color-dark: #011C44;
    --secondary-color-brown: #4a4a4a;
    --secondary-color-light-brown: #747272;
    --secondary-color-blue: #011f4a;
    --secondary-color-yellow: #ffd02b;

}
body {
    color: var(--primary-color-dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    color: var(--main-color);
    font-family: 'Play', serif;
    font-weight: 700;
    font-size: 140px;
    width: 529px;
    height: 228px;
}

h2 {
    font-family: 'Play', serif;
    font-weight: 700;
    font-size: 64px;
}
/*MAIN*/
span {
    color: var(--main-color);
}
.span {
    color: var(--primary-color-dark);
    font-weight: 600;
}
ul {
    list-style-type: none;
}

address {
    font-style: normal;
}
/*LINK*/
.link-header {
    color: var(--primary-color-dark);
    text-decoration: none;
    width: 67px;
    height: 21px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.link-header:hover {
    color: var(--main-color);
    list-style-type: none;
}
.link-footer {
    color: var(--primary-color-light);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.link-footer:hover {
    color: var(--main-color);
    list-style-type: none;
}
.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 219px;
    height: 53px;
    border-radius: 32px;
    border: 2px;
    color: var(--primary-color-light);
    background-color: var(--main-color);
}
.button:hover {
    border-color: var(--main-color);
    color: var(--primary-color-dark);
    background-color: transparent;
}
/*PARAGRAPH*/
.first-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.second-paragraph{
    color: var(--secondary-color-brown);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}
.hero-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
}
/*FOOTER*/
footer{
    background-color: var(--secondary-color-blue);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.footer-data {
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
    color: var(--secondary-color-light-brown);
}