:root{
--main-color: #2B7FFF;
--primary-color-light: #FFFFFF;
--primary-color-dark: #011C44;
}
ul{
    list-style-type: none;
}
address {
    font-style: normal;
}
.link {
    color: var(--primary-color-dark);
    text-decoration: none;
    
}
.link:hover{
    color: var(--main-color);
    list-style-type: none;
}